<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='style/reset.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='style/general.css')}}"
    />
    <title>Member</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <section class="introText w-set">
          <h1>歡迎光臨，這裡是護員首頁</h1>
        </section>
        <section class="message">
          <p>恭喜您，成功登入系統</p>
          <p>Sesseion的狀態為：{{session_state}}</p>
          <a href="/signout">登出系統</a>
        </section>
      </div>
    </div>
  </body>
</html>
